// colors
$dark-violet: hsl(256, 26%, 20%);
$graysh-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-graysh-violet: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);

// font size
$font-size: 16px;