.white-button{
    @extend %default-button;
    border-color: $dark-violet;
    background-color: $light-gray;
        .a{
            color: $dark-violet;
        }
        &:hover{
            background-color: $dark-violet;
            border-color: $light-gray;
            .a{
                color: $light-gray;
            }
        }
}

.dark-button{
    @extend %default-button;
    border-color: $light-gray;
    background-color: $dark-violet;
        .a{
            color: $light-gray;
        }
        &:hover{
            background-color: $light-gray;
            border-color: $dark-violet;
            .a{
                color: $dark-violet;
            }
        }
}